@{
    ViewBag.Title = "Home Page";
}

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <p>
                <div class="col-md-1"></div>
                <div class="col-md-5" style="background-color: black;">
                    <img class="img-responsive" src="images/test.jpg" alt="" style="visibility: hidden;">
                </div>
                <div class="col-md-5" style="background-color: gray;">
                    <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="" style="padding-left: 17%;">
                </div>
                <div class="col-md-1"></div>
            </p>
        </div>
        <br />
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">
                            <img class="img-responsive centerAlign" src="../Content/images/test.jpg" alt="">
                        </a>
                    </div>
                    <div class="pannel-body" style="padding-left: 5px;">
                        <h3>
                            Product naam
                        </h3>
                        <p>Omschrijving van het product</p>
                        <div class="price"> €1,-</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
<!-- /#page-content-wrapper -->