body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: black;
    margin: 0 auto;
}

header, footer, nav, section {
    display: block;
}

ul {
    list-style-type: none;
}

a {
     text-decoration: none;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Header
-----------------------------------------------------------*/
.login {
    width: 100%;
    height: 48px;
    font-weight: bold;
    font-size: 15px;
    background: black;
}

    .login .menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .login .menu li {
        display: inline;
    }

    .menu li a {
        transition: all 0.5s ease;
        color: #fff;
        line-height: 45px;
        display: inline-block;
        padding: 0px 20px 0px 20px;
    }

    .menu li a:hover {
        transition: all 0.5s ease;
        color: lightblue;
        background: #1a1a1a;
        box-sizing: border-box;
        border-bottom: 1px solid #7ac0da;
    }

.header-wrapper {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    background: url("http://www.wallpapersphotography.com/panoramic-nature/images/_2880x900_dualscreen_nature_wallpaper_213026.jpg");
}

    .header-wrapper .search-wrapper {
        width: 50%;
        min-height: 200px;
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        align-self: center;
        margin-bottom: 2%;
    }

    .header-wrapper hgroup.title h1, .header-wrapper hgroup.title h2 {
            color: #fff;
        }

        .header-wrapper p {
            font-size: 1.1em;
        }

    .search-box-wrapper {
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#search-box {
		width: 80%;
		height: 45px;
        margin: 0% 10% 0% 10%;
		color: black;
        font-size: 1.4em;
        font-weight: bold;
		padding-left: 4px;
		background: white;
		border: 1px solid rgba(57, 36, 17, 0.5);
	}

    #filter-wrapper {
        width: 80%;
        min-height: 45px;
    }

    #filter-toggle {
        margin: 0% 10% 0% 10%;
        padding-left: 14px;
    }

    #filter {
        display: none;
    }

/* page titles */
hgroup.title {
    margin: 0px 5px 5px 5px;
}

hgroup.title h1 {
    transition: all 0.5s ease;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h1:hover {
    transition: all 0.5s ease;
    color: lightblue;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* Index
-----------------------------------------------------------*/
#body {
    width: 100%;
    min-height: 150px;
    overflow: auto;
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

    #sort {
        width: 100%;
        min-height: 48px;
        font-weight: bold;
        background: #e2e2e2;
    }

    #sort h1 {
        transition: all 0.5s ease;
        text-align: center;
    }

    #sort h1:hover {
        transition: all 0.5s ease;
        color: lightblue;
    }

    #sort-panel {
        display: none;
        text-align: center;
    }

    #body .item {
        width: 19%;
        min-width: 500px;
        min-height: 150px;
        max-height: 300px;
        float: left;
        background: #f2f2f2;
        margin: 10px 0px 10px 0px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    }

    .item-picture {
        width: 100%;
        max-width: 150px;
        float: left;
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        background: #f2f2f2;
    }

    .item-info {
        margin: 0px 0px 0px 5px;
    }

    hgroup.item-info h2 {
        transition: all 0.5s ease;
        text-align: center;
    }

    hgroup.item-info h2:hover {
        transition: all 0.5s ease;
        color: lightblue;
    }

    hgroup.item-info p {
        font-weight: normal;
        font-size: 1.1em;
    }

@media screen and (max-width: 480px) {
    #body .item {
        min-width: 80%;
        max-width: 440px;
        max-height: none;
        margin: 0px 0px 0px 0px;
        background: none;
        border-radius: 0px;
        border-bottom: 1px dotted lightgray;
        box-shadow: none;
    }

    .item-picture {
        max-width: 75px;
    }
}

#about {
    width: 100%;
    min-height: 200px;
    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    color: #3e5667;
    margin: 2% 0px 2% 0px;
    text-align: center;
    border-top: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
}

    #about h2 {
        align-self: center;
        font-size: 2.5em;
        font-weight: bold;
        letter-spacing: 10px;
        color: black;
    }

    #about p {
        color: black;
        font-size: 1.5em;
        max-width: 75%;
        margin: 0% 12.5% 0% 12.5%;
        margin-bottom: 5%;
    }

#contact {
    width: 100%;
    min-height: 200px;
    color: black;
    text-align: center;
}
    
    #contact h2 {
        align-self: center;
        font-size: 2.5em;
        font-weight: bold;
        letter-spacing: 10px;
    }

    #contact p {
        color: black;
        font-size: 1.5em;
        max-width: 75%;
        margin: 0% 12.5% 0% 12.5%;
        transition: all 0.5s ease;
    }

    #contact p:hover {
        transition: all 0.5s ease;
        color: #7ac0da;
    }

.myNameIsBoxxy {
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.fieldName {
		width: 120px;
		height: 30px;
		margin-left: 10px;
		float: left;
		font-size: 12px;
		position: relative;
		text-transform: uppercase;
		line-height: 30px;
		border: 1px solid rgba(57, 36, 17, 0.5);
		border-right: 0 none;
		padding-left: 5px;
		background: url('/assets/background-image/fieldName.png');
	}
	#loginAccount {
		width: 155px;
		height: 28px;
		margin-right: 10px;
		padding-left: 4px;
		border: 1px solid rgba(57, 36, 17, 0.5);
		border-left: 0 none;
	}
    	.boxButtonWrapper {
		width: 40px;
		height: 25px;
		margin: 0 auto;
		margin-top: 25px;
		padding-bottom: 25px;
	}
	.boxButtonWrapper tr {
		width: 220px;
		min-height: 25px;
	}
	.boxButton {
		width: 100px;
		height: 25px;
		display: block;
		cursor: pointer;
		text-align: center;
		line-height: 25px;
		font-size: 12px;
		opacity: 1;
		background: url('/assets/background-image/fieldName.png'); 
	}
	.boxButton:hover { 
		opacity: 0.5; 
		background: url('/assets/background-image/fieldName.png'); 
	}
/* Footer
-----------------------------------------------------------*/
#footer {
    width: 100%;
    height: 48px;
    background: black;
    bottom: 0;
}

#footer a {
    transition: all 0.5s ease;
    color: white;
    display: block;
    width: inherit;
    height: inherit;
    line-height: 48px;
    text-align: center;
}

#footer a:hover {
    transition: all 0.5s ease;
    color: lightblue;
}