<!--
    - If you get the "Resource not found" error, make sure that the FooterPartial is
    - not open during Debug or Release.
-->
@{
    ViewBag.Title = "FooterPartial";
}

<footer>
    <div id="footer">
        <a href="#">&copy; 2015 - @DateTime.Now.Year GroepNaam</a>
    </div>
</footer>
