<!--
    - If you get the "Resource not found" error, make sure that the FooterPartial is
    - not open during Debug or Release.
-->

@{
    ViewBag.Title = "CompanyName";
}

<header>
    <div class="login">
        <nav>
            <ul class="menu">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-wrapper">
        <div class="search-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div class="search-box-wrapper">
                <input type="text" id="search-box" maxlength="25" placeholder="Search...">
            </div>
            <script>
                $(document).ready(function () {
                    $("#filter-toggle").click(function () {
                        $("#filter").slideToggle("slow");
                    });
                });
            </script>
            <div id="filter-wrapper">
                <div id="filter-toggle"><h2>Filters</h2></div>
                <div id="filter">
                    <p>Filter Content</p>
                </div>
            </div>
        </div>
    </div>
</header>
