
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row row-centered">
        <div class="col-xs-6 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">Fysieke Zaak</div>
                <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Contact Informatie en richting aanwijzing voor fysieke zaak</div>
            </div>
        </div>
        <div class="col-xs-6 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">Online Winkel</div>
                <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    Contact informatie voor online zaak/div>
                </div>
            </div>
        </div>
    </div>
</div>

