
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row row-centered">
        <div class="col-xs-6 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">Fysieke Zaak</div>
                <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">Online Winkel</div>
                <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <address>
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>

