@using CBlokHerkansing.Models.Product;
@model List<ProductBase>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
     @foreach (ProductBase product in @Model)
     {
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">@product.Naam</div>
                <div class="panel-body"><img src="~/Content/images/test.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p>@product.Omschrijving</p>
                    <div class="price">5,-</div>
                </div>
            </div>
        </div>
     }
</div>

@helper payByPaypal(){
 <form name = "payPaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

    <input type="hidden" name="cmd" value="_xclick" />
    <input type="hidden" name="business" value="youremailaddress@yourdomain.com" />

    <input type="hidden" name="item_name" value="My painting" />
    <input type="hidden" name="amount" value="10.00" /> 
    <input type="submit" value="Buy!" />

</form>       
}
    
    