@using CBlokHerkansing.Models.Product;
@model List<ProductBase>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
     @foreach (ProductBase product in @Model)
     {
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">@product.Naam</div>
                <div class="panel-body"><img src="~/Content/images/test.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p>@product.Omschrijving</p>
                    @Html.ActionLink("Bestellen", "AddToCart", "winkelwagen", new { id = product.ProductId }, new { @class = "order" })
                    <div class="price">5,-</div>
                </div>
            </div>
        </div>
     }
</div>
    
    