@model CBlokHerkansing.Models.Product.ProductBase

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model != null)
    {
        
    }
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Product Naam</div>
                <div class="panel-body"><img src="~/Content/images/test.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p>Cupcake ipsum dolor sit amet cake tart muffin liquorice. Tiramisu bear claw sweet brownie. Pudding sweet roll gingerbread sweet brownie pudding halvah. Marshmallow tart halvah candy canes gummies tootsie roll sweet.</p>
                    <div class="price">5,-</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Product Naam</div>
                <div class="panel-body"><img src="~/Content/images/test.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p>Cupcake ipsum dolor sit amet cake tart muffin liquorice. Tiramisu bear claw sweet brownie. Pudding sweet roll gingerbread sweet brownie pudding halvah. Marshmallow tart halvah candy canes gummies tootsie roll sweet.</p>
                    <div class="price">5,-</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Product Naam</div>
                <div class="panel-body"><img src="~/Content/images/test.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p>Cupcake ipsum dolor sit amet cake tart muffin liquorice. Tiramisu bear claw sweet brownie. Pudding sweet roll gingerbread sweet brownie pudding halvah. Marshmallow tart halvah candy canes gummies tootsie roll sweet.</p>
                    <div class="price">5,-</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Product Naam</div>
                <div class="panel-body"><img src="~/Content/images/test.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p>Cupcake ipsum dolor sit amet cake tart muffin liquorice. Tiramisu bear claw sweet brownie. Pudding sweet roll gingerbread sweet brownie pudding halvah. Marshmallow tart halvah candy canes gummies tootsie roll sweet.</p>
                    <div class="price">5,-</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Product Naam</div>
                <div class="panel-body"><img src="~/Content/images/test.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p>Cupcake ipsum dolor sit amet cake tart muffin liquorice. Tiramisu bear claw sweet brownie. Pudding sweet roll gingerbread sweet brownie pudding halvah. Marshmallow tart halvah candy canes gummies tootsie roll sweet.</p>
                    <div class="price">5,-</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Product Naam</div>
                <div class="panel-body"><img src="~/Content/images/test.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <p>Cupcake ipsum dolor sit amet cake tart muffin liquorice. Tiramisu bear claw sweet brownie. Pudding sweet roll gingerbread sweet brownie pudding halvah. Marshmallow tart halvah candy canes gummies tootsie roll sweet.</p>
                    <div class="price">5,-</div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>